
.body{

    display: flex;
  justify-content: center;
align-items: center;
height: 80px;
width: 100%;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(114, 112, 112, 0.3);

}
.navbar{
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}

.navbar_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.dropdown {
    opacity: 0;
    position: absolute;
    width: 500px;
    z-index: 2;
    background: black;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}
.nav_drop:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.drop_it a {
    width: 100%;
    height: 100%;
}
.sixline{
    position: absolute;
    margin-top: 19em;
    width: 100px;
    margin-left: 66em;
    transform: rotate(-85deg);
}
.logoname{
    position: absolute;
   margin-left: 5em ;
    left: 0;
}
.logo{
    position: absolute;
   top: 0;
   left: 0;
}
.abticon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 0em;
    margin-left: -1.9em;
}


.conicon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 0em;
    margin-left: -1.9em;
}
.homeicon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; 
    margin-top: 2em;
    margin-left: -2em;
  }
   
.list{
    color: rgb(109, 109, 109);
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: .2em;
    font-size: 14px;
}
.listbody{
    margin: 0 40px 0 0;
    opacity: .4;
    transition: all 0.4s ease;
}

.listbody:hover{
opacity: .7;
}

.listbody:last-child{
margin-right: 0;
}

.listbody .link:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


@media screen and (max-width: 768px){
   .link{

         font-size: 12px;
   }
   .abticon{
    width: 20px;
    margin-top: -0.4em;
}


.conicon{
 width: 20px;
    position: absolute;
    margin-top: -0.4em;
    margin-left: -1.9em;
}
.logoname{
    display: none;
}
.homeicon{
   width: 20px;
  }
   
.logo{
    width: 30px;
    position: absolute;
   top: 0;
   left: 0;
   margin-top: -1.5em;
}
}